.header {
  @media (max-width: 768px) {
    display: none;
  }
  .specialoffer {
    @media (max-width: 1030px) {
      display: none;
    }
  }
}
// .alternative-header{
//     @media (min-width: 769px) {
//     display: none;
//   }
// }