// .Container {
//   display: flex;
//   width: 100%;
//   height: 50%;
//   justify-content: center;
//   align-items: center;
//   padding: 20px 0;

  
// }
.logo {
    width: 100%;
    height: auto;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    @media (max-width: 468px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 0;
    }
  }