.promotionbanner-grid-container {
  height: 700px;

  margin-left: auto;
  margin-right: auto;

  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;

  width: 100%;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.banner {
  height: 100%;
  width: 100%;
  background-image: url("https://emall-be87.kxcdn.com/emall/wp-content/uploads/2024/04/banner-1-electronic-01.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 300ms ease;

  &:hover {
    transform: scale(1.05);
  }
  @media (max-width: 1254px) {
    // background-position: 1rem;
    left: 100px;
  }
}

.elctronic-deal {
  width: 100%;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.25;
  color: #000000;
  text-align: right;
  @media (max-width: 767px) {
    font-size: 2rem;
  }
}
