.headphonesubtitle {
  font-size: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6b7280;
  font-weight: 400;
  @media (max-width: 872px) {
    font-size: 0.9rem;
  }
}

.headphonetitle {
  font-size: 72px;
  font-weight: 400;
  line-height: 1;

  @media (max-width: 765px) {
    font-size: 3rem;
  }
}
.Container {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
