.container {
  height: 700px;

  margin-left: auto;
  margin-right: auto;

  padding: 1rem;

  display: grid;

  grid-template-columns: 1fr;

  width: 100%;
  max-width: 100%;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
